{:name loom
 :version "0.1.0"
 :description "Lisple package manager."
 :dependencies []
 :load-roots ["src"]
 :main loom.core/main
 :entry-points [loom.core
                loom.command.install
                loom.command.uninstall
                loom.command.list
                loom.command.info]}
