{:name loom
 :version "0.1.0"
 :description "Roo package manager."
 :dependencies {lookup "0.1.0"}
 :load-roots ["src"]
 :dev {:dependencies {proof "0.1.0"}
       :load-roots ["test" "test/support"]}
 :main loom.core/main}
