**/CMakeFiles
build/
Makefile
!/Makefile
**/*.cmake
!cmake/*.cmake
**/CMakeCache.txt
/compile_commands.json
liblisple.a
liblisple.so
test/testlisple
test/cmake*.json
pkg/*/native/*.dll
pkg/*/native/*.dylib
pkg/*/native/*.so
.cache
scratch/
