**/CMakeFiles
build/
Makefile
!/Makefile
**/*.cmake
!cmake/*.cmake
**/CMakeCache.txt
/compile_commands.json
libroo.a
libroo.so
test/testroo
test/cmake*.json
pkg/*/native/*.dll
pkg/*/native/*.dylib
pkg/*/native/*.so
.cache
scratch/
