**/CMakeFiles
build/
build-release/
dist/
Makefile
!/Makefile
**/*.cmake
!cmake/*.cmake
!pkg/proofread/cmake_test/*.cmake
**/CMakeCache.txt
/compile_commands.json
libroo.a
libroo.so
test/testroo
test/cmake*.json
pkg/*/native/*.dll
pkg/*/native/*.dylib
pkg/*/native/*.so
.cache
scratch/
