{:name roopl-tests
 :version "0.1.0"
 :dependencies {soot "file:../../soot"
                voodoo "file:../../voodoo"
                wraparoo "file:../../wraparoo"
                roopl "file:.."
                proof "file:../../proof"}
 :load-roots ["roopl"]
 :config {proof {:test-roots ["roopl"]}}}
