{:name roopl
 :version "0.1.0"
 :description "Interactive terminal shell for Roo."
 :dependencies {inpoots "0.1.0"
                soot "0.1.0"
                voodoo "0.1.0"
                wraparoo "0.1.0"}
 :load-roots ["src"]
 :namespace-roots {roopl "src"}
 :dev {:dependencies {proof "0.1.0"}
       :load-roots ["test"]}
 :native-libraries [{:name "roopl-native"
                     :version "0.1.0"
                     :path "native"
                     :namespaces [roopl.target.runtime]}]
 :main roopl.terminal/main}
