{:name boodle
 :version "0.1.0"
 :description "Reference documentation catalog tooling for Roo."
 :dependencies {cli-trooper "0.1.0"
                moordown "0.1.0"}
 :load-roots ["src"]
 :namespace-roots {boodle "src"}
 :dev {:dependencies {proof "0.1.0"}
       :load-roots ["test"]}
 :main boodle.cli/main}
