{:name proofread
 :version "0.1.0"
 :description "Roo syntax and style checker."
 :dependencies []
 :load-roots ["src"]
 :native-libraries [{:name "proofread-native"
                     :version "0.1.0"
                     :path "native"
                     :namespaces [proofread.native]}]
 :main proofread.core/main}
