{:name proof
 :version "0.1.0"
 :description "Roo test framework."
 :dependencies {cli-trooper "0.1.0"
                soot "0.1.0"
                voodoo "0.1.0"}
 :load-roots ["src"]
 :namespace-roots {proof "src"}
 :native-libraries [{:name "proof-native"
                     :version "0.1.0"
                     :path "native"
                     :namespaces [proof.syntax
                                  proof.syntax.fixture
                                  proof.syntax.scenario]}]
 :tools {run proof.tool/run!}
 :main proof.cli/main
 :entry-points [proof.core]}
