{:name proof
 :version "0.1.0"
 :description "Roo test framework."
 :dependencies {soot "0.1.0"}
 :load-roots ["src"]
 :native-libraries [{:name "proof-native"
                     :version "0.1.0"
                     :path "native"
                     :namespaces [proof.syntax]}]
 :tools {run proof.runner/run}
 :entry-points [proof.core]}
