{:name proof
 :version "0.1.0"
 :description "Lisple test framework."
 :dependencies []
 :load-roots ["src"]
 :native-libraries [{:name "proof-native"
                     :version "0.1.0"
                     :path "native"
                     :namespaces [proof.syntax]}]
 :entry-points [proof.core]
 :test-entry-points []}
