{:projects [{:path "/home/svjson/devel/opensource/projects/pixils/examples/tilemap-editor/example-maps/map1.edn" :directory "/home/svjson/devel/opensource/projects/pixils/examples/tilemap-editor/example-maps" :filename "map1.edn"}]}